# Configuración del Backend
NEXT_PUBLIC_API_URL=http://10.129.180.151:3001

# Configuración de desarrollo
NODE_ENV=development

# Configuración de producción (cambiar cuando despliegues)
# NEXT_PUBLIC_API_URL=https://tu-dominio-backend.com
